* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto&display=swap');

.navFont {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

.siteName{
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  font-weight: 700;
}

.bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.10)), url("../images/homeBg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 665px;
}

@media only screen and (min-width: 1200px ){
.homeBtn {
  padding-top: 365px;
  padding-left: 1140px;
}

.homeText{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #e3e3e3;
  text-shadow: 3px 3px 5px #154483;
  font-size: 85px;
  padding-top: 60px;
}
}

@media only screen and (max-width: 1199.9px ){
.homeBtn {
  padding-top: 200px;
  padding-left: 735px;
}
.homeText{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #e3e3e3;
  text-shadow: 3px 3px 5px #154483;
  font-size: 85px;
  padding-top: 30px;
}
}

@media only screen and (max-width: 768px ){
.homeBtn {
  padding-top: 245px;
  padding-left: 0px;
}
.homeText{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #e3e3e3;
  text-shadow: 3px 3px 5px #154483;
  font-size: 85px;
  padding-top: 30px;
}
}

.loginBg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.30)), url("../images/heroBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 665px;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

#smallText {
  color: lightgrey;
}

.linkRegister {
  text-decoration: none;
  font-weight: 50px;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
}

.text-center{
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  padding: 10px;
}

.cardBg {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url("../images/first.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.profileCardBg {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.10)), url("../images/first.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.profileBg {
 /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.30)), url("../images/profileBg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;*/
  background-color: black;
}

